%h1 Articles#index
%p Find me in app/views/articles/index.haml

%p Il y a actuellement #{@articles.count} articles

%p Vous etes l'utilisateur #{session[:current_user_id]}

- @articles.each do |article|
	%h2 #{link_to article.titre, article_path(article.id)}