%nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			%a.navbar-brand{href: "/"}
				The Good Edge
		.navbar-collapse.collapse
			%a.navbar-brand{href: articles_path}
				Articles
			%a.navbar-brand{href: new_article_path}
				Nouvel article
			%a.navbar-brand{href: new_utilisateur_path}
				Nouvel utilisateur
			= bootstrap_form_for(Utilisateur.new, url: sign_in_utilisateurs_path, multipart: true, html: {class: "navbar_form navbar-right form-inline", style: "margin-top: 8px;"}) do |f|
				= f.email_field :email, placeholder: "Votre email", hide_label: true
				= f.password_field :password, placeholder: "Votre mot de passe", hide_label: true
				= f.submit "Connexion"
				%a.btn.btn-info{href: new_utilisateur_path}
					Créer un compte